#deleteButton
{
    width: 5%;
    height: 10%;

    font-size: 4em;

    border: 0px;

    border-radius:50%;

    position: absolute;

    background: black;
    color: white;

    top: 80%;
    left: 90%;


}

#addButton
{
    width: 5%;
    height: 10%;

    font-size: 4em;

    border: 0px;

    border-radius:50%;

    position: absolute;

    background: black;
    color: white;

    top: 65%;
    left: 90%;


}

#confirmButton
{
    width: 5%;
    height: 10%;

    font-size: 3em;
    text-align: center;

    border: 0px;

    border-radius:50%;

    position: absolute;

    background: black;
    color: white;

    top: 50%;
    left: 90%;


}

#getResultsButton
{
    width: 5%;
    height: 10%;

    font-size: 1em;
    text-align: center;

    border: 0px;

    border-radius:50%;

    position: absolute;

    background: black;
    color: white;

    top: 35%;
    left: 90%;


}

#topText
{
    text-align: center;
    font-size: 2em;
}

#inputWrapper
{
    text-align: center;
}
